# Android Studio
.idea/
*.iml

# Build files
/build/
*/build/
captures/

# Gradle
.gradle/
local.properties

# Signing keys
*.jks
*.keystore

# OS files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp

# APKs and other output
*.apk
*.ap_

# Misc
*.swp

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
